	<footer>
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                Copyright? Inte här, hela Webbdesignkurser.se är <a href="http://github.com/webbdesignkurser" target="_blank" title="GitHub">öppen källkod</a>, och är licensierat under Creative Commons, mer information kan hittas <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.sv" target="_blank" title="Läs licensen">här.</a>
	            </div>
	        </div>
	    </div>
	</footer>

</div>

</body>
</html>