	<div class="container">
	    <div class="row">
	        <div class="col-sm-12">
	            {% include disqus_comments.html %}
	        </div>
	    </div>
	</div>

	<footer>
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	            	<div class="logobadge">
	            		<a class="logo" target="_blank" href="http://facebook.com/webbdesignkurser">{% image like.svg %}</a>
	            	</div>
	                <h3>Allt du ser på Webbdesignkurser.se får kopieras och ändras</h3>
	                <p>Webbdesignkurser.se är <a href="http://github.com/webbdesignkurser" target="_blank" title="GitHub">öppen källkod</a> och licensierat under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.sv" target="_blank" title="Läs licensen">Creative Commons</a>.</p>
	                <p>Du når oss på <a href="https://www.facebook.com/Webbdesignkurser" target="_blank">Facebook</a></p>
	            </div>
	        </div>
	    </div>
	</footer>

</div>

</body>
</html>
