<header class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand logo" href="{{ site.url }}"><img src="assets/images/logo.svg"></a>
		</div>
		<div class="navbar-collapse nav-collapse collapse navbar-right" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">Webbkurser <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1" href="#">Grunderna i webbdesign</a></li>
						<li><a tabindex="-1" href="#">Responsiv design</a></li>
						<li><a tabindex="-1" href="#">Grunderna i Grafisk design</a></li>
						<li><a tabindex="-1" href="#">Grunderna i Illustrator</a></li>
						<li><a tabindex="-1" href="#">Grunderna i LESS</a></li>
						<li><a tabindex="-1" href="#">Grunderna i Git</a></li>
						<li><a tabindex="-1" href="#">Grunderna i SEO</a></li>
					</ul>
				</li>
				<li><a href="/website/faq">Vanliga frågor</a></li>
				<li><a href="#">Donera</a></li>
				<li><a href="#">Om sidan</a></li>
				<form  action="/search.html" method="get" class="navbar-form navbar-right" role="search">
					<div class="form-group pull-right">
				    <input type="text" id="search-query" class="form-control" name="q" placeholder="Search" autocomplete="off">
					</div>
				</form>
			</ul>
		</div> <!-- .nav-collapse -->
	</div> <!-- .container -->
</header>