<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">LOGGA</a>
      <div class="navbar-collapse nav-collapse collapse navbar-header">
        <ul class="nav navbar-nav">
          <li class="dropdown">
				 			<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">
			        Account <b class="caret"></b>
					    </a>
					    <ul class="dropdown-menu">
					        <li><a tabindex="-1" href="#">My Account</a></li>
					        <li class="divider"></li>
					        <li><a tabindex="-1" href="#">Change Email</a></li>
					        <li><a tabindex="-1" href="#">Change Password</a></li>
					        <li class="divider"></li>
					        <li><a tabindex="-1" href="#">Logout</a></li>
					    </ul>
          </li>
          <li><a href="#">Contact the President</a></li>

        </ul>
      </div> <!-- .nav-collapse -->
    </div> <!-- .container -->
  </header>