<header class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
	  <a class="navbar-brand" href="#">LOGGA</a>
	  <div class="navbar-collapse nav-collapse collapse navbar-header">
	    <ul class="nav navbar-nav">
	      <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">Webbkurser <span class="caret"></span></a>
		    <ul class="dropdown-menu">
		        <li><a tabindex="-1" href="#">Grunderna i webbdesign</a></li>
		        <li class="divider"></li>
				<li><a tabindex="-1" href="#">Grunderna i webbdesign</a></li>
		        <li class="divider"></li>
		        <li><a tabindex="-1" href="#">Grunderna i webbdesign</a></li>
		    </ul>
	      </li>
	      <li><a href="#">Vanliga frågor</a></li>
 		  <li><a href="#">Donera</a></li>
 		  <li><a href="#">Om sidan</a></li>
	    </ul>
	  </div> <!-- .nav-collapse -->
	</div> <!-- .container -->
</header>