// Shortcuts //

@brand-color: #eb4f9a;

@color-webbdesign: #eb4f9a;
@color-responsivDesign: #6abf6b;
@color-grafiskDesign: #151440;
@color-vektorteknik: #de9d25;
@color-less: #00a5cc;
@color-git: #e67a2c;
@color-seo: #b82a2a;

@brand-font : 'Lato', sans-serif;



/// Global ///

h1 {
	font-weight: 700 !important;
	font-family: @brand-font !important;
}

h2 {
	font-weight: 400 !important;
	font-family: @brand-font !important;
}

h3 {
	font-size: 24px !important;
	font-weight: 400 !important;
	font-family: @brand-font !important;
}

p {
	font-family: helvetica;
}

.main {
	margin-top: 50px;
}

.btn-secondary {
	background: none !important;
	border: 1px solid rgba(255,255,255,0.8) !important;
	border-radius: 3px !important;
	padding: 10px 25px !important;
}

.btn-primary {
	border: none !important;
	border-radius: 3px !important;
	padding: 10px 25px !important;
}



/// Layout ///

.chapter {

	// Color guides
	.webbdesign {
		background: @color-webbdesign;
		.btn-primary {
			color: @color-webbdesign;
		}
	}
	.responsivDesign {
		background: @color-responsivDesign;
		.btn-primary {
			color: @color-responsivDesign;
		}
	}
	.grafiskDesign {
		background: @color-grafiskDesign;
		.btn-primary {
			color: @color-grafiskDesign;
		}
	}
	.vektorteknik {
		background: @color-vektorteknik;
		.btn-primary {
			color: @color-vektorteknik;
		}
	}
	.less {
		background: @color-less;
		.btn-primary {
			color: @color-less;
		}
	}
	.git {
		background: @color-git;
		.btn-primary {
			color: @color-git;
		}
	}
	.seo {
		background: @color-seo;
		.btn-primary {
			color: @color-seo;
		}
	}


	// Chapter box
	.box{
		margin-bottom: 30px;
		div {
			padding: 20px;
			color: #fff;
		}
		h3{
			margin-top: 0px;
		}
		img {
			display: block;
			width: 100%;
		}
		p {
			font-size: 14px;
			margin-bottom: 20px;
		}
		.btn-primary {
			background: #fff;
			&:hover {
				opacity: 0.9;
			}
		}
		.btn-secondary {
			cursor: auto;
			&:hover {
				background: none;
				color: #fff;
			}
			&:active {
				box-shadow: none;
			}
		}
	}
}

.contribute {
	background: #000 url(images/bg_contribute.jpg) center center;
	height: 500px;
	.box {
		padding: 20px;
		text-align: center;
		padding-top: 180px;
		color: #fff;
		font-size: 18px;
		font-weight: 300 !important;
		font-family: 'Lato';
		h3{
			color: #fff;
			font-weight: 300 !important;
			margin-bottom: 10px;
		}
	}
	.btn-primary {
		margin: 10px;
		font-size:  18px;
		background: #fff;
		color: #255381;
		&:hover {
			opacity: 0.9;
			background: #fff;
			color: #255381;
		}
	}
	.btn-secondary {
		margin: 10px;
		font-size: 18px;
		color: #fff;
		&:hover {
			background: rgba(255,255,255,0.1) !important;
			color: #fff;
		}
		&:active {
			box-shadow: none;
		}
	}
}

footer {
	margin-top: 40px;
	padding: 20px;
	text-align: center;
	color: #888;
	background: #eee;
}

.headlineWrapper {
	padding-top: 80px;
	text-align: center;
	width: 100%;
	height: 400px;
	background: #000 url(images/bg_headline.jpg) center center no-repeat;
	margin-bottom: 40px;
	@media (max-width: 480px) {padding-top: 30px;}
	h1 {
		font-size: 50px;
		display: inline-block;
		background: @brand-color;
		padding: 20px 30px;
		color: #fff;
		font-weight: 100 !important;
	}
	h2 {
		font-size: 14.55pt;
		line-height: 20px;
		background: #111;
		color: #fff;
		display: inline-block;
		padding: 15px 25px;
		font-weight: 300 !important;
	}
	p {
		font-size: 14.55pt;
		line-height: 20px;
		background: #fff;
		color: #000;
		display: inline-block;
		padding: 15px 25px;
		font-weight: 400 !important;
		font-family: 'Lato';
	}
}


header {
	.logo {
		img {
			margin-top: -2px;
			@media (min-width: 768px) and (max-width: 979px) {
				width: 160px;
				margin-top: 2x;
			}
			@media (max-width: 767px) {
				width: 200px;
			}
		}
	}
	&.navbar {
		background: #fff;
		ul li {
			a {
				color: @brand-color;
				font-size: 15px;
				&:hover {
					background: #f5f5f5;
				}
			}
		}
		.navbar-toggle {
			background-color: @brand-color;
			.icon-bar {
				background: #fff;
			}
		}
		.form-group {
			.form-control {
				@media (min-width: 768px) and (max-width: 979px) {
					width: 100px;
				}
			}
			margin-left: 4%;
			width: 92%;
		}
		.navbar-collapse.in {
			overflow-y: visible;
		}
	}
}