{% include head.html %}

<div class="container">

    <div class="row">

        {% if page.headerimage %}
            <div class="col-sm-12">
                <img src="{{ page.headerimage | asset_path }}" class="headerImage"/>
            </div>
        {% endif %}

        <div class="col-md-8 content">
            {% unless page.customTitle %}
                <h1 class="title">{{ page.title }}</h1>
            {% endunless %}
            {{ content }}
            <!-- Change 'webbdesign' to 'artiklar' once done -->
            {% for post in site.categories['artiklar'] %}
              <img src="{{ post.headerimage | asset_path }}"/>
              <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
              <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 300 }}{% endif %} <a href="{{ site.url }}{{ post.url }}">Läs mer</a></p>
            {% endfor %}
            <hr/>
            <h4 class="share">Dela </h4>
            <input class="form-control" style="width: auto;" type="text" value="http://wdk.se/{{ page.url | short }}"> 
            {% if page.comments and site.disqus_shortname %}
                <section id="disqus_thread"></section>
            {% endif %}
        </div>

        {% include sidebar.html %}
    </div>

    {% include bidra.html %}

</div>
{% include footer.html %}