{% include head.html %}

<div class="container">

    <div class="row">

        {% if page.headerimage %}
            <div class="col-sm-12">
                <img src="{{ page.headerimage | asset_path }}" class="headerImage"/>
            </div>
        {% endif %}

        <div class="col-md-8 content">
            {% unless page.customTitle %}
                <h1 class="title">{{ page.title }}</h1>
            {% endunless %}
            {{ content }}
            <hr/>
            <h4 class="share">Dela </h4>
            <input class="form-control" style="width: auto;" type="text" value="https://wdk.se/{{ page.url | short }}"> 
            {% if page.comments and site.disqus_shortname %}
                <section id="disqus_thread"></section>
            {% endif %}
        </div>

        <div class="col-md-4 sidebar">
            <div class="chapter nav">
                <ul>
                {% assign category = page.categories[0]; %}
                <li><h4><a class="webbdesign title background">Artiklar</a></h4></li>
                {% for post in site.categories[category] %}
                    {% if post.title == page.title %}
                        <li><a class="{{ category }} navItem current active" href="{{ site.url }}{{post.url}}">{{ post.title }}</a></li>
                    {% else %}
                        <li><a class="{{ category }} navItem current" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
                <ul>
                </ul>
            </div>
        </div>
    </div>

    {% include bidra.html %}

</div>
{% include footer.html %}