{% include head.html %}

<div class="headlineWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="headline">
                    <h1>Hur gör man en hemsida?</h1>
                    <div>
                        <h2>Vi går igenom grunderna i webbdesign</h2><p>Gratis & Reklamfritt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for course in site.courses %}
            <div class="col-md-4 col-sm-6 chapter">
               <div class="box">
                    {{ course.image | image }}
                    <div class="{{ course.class }}">
                        <h3>{{ course.title }}</h3>
                        <p>{{ course.description }}</p>
                        <span class="btn btn-secondary">Gratis</span>
                        <a href="{{ course.id }}/inledning" class="btn btn-primary pull-right color">Kom igång!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

<div class="row">
   <div class="col-sm-12">

       <div class="contribute">
          <div class="box">
              <h3 class="text-center">Vill du bidra till ett öppnare och friare läromedel?</h3>
              <a class="btn btn-secondary">Donera en slant</a> eller 
              <a href="#" class="btn btn-primary">Bidra med eget material</a>
          </div>
      </div>

  </div>
</div>

</div>
{% include footer.html %}