<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body>

<div class="headerWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-3 col-sm-12 logo">
                        Logga
                    </div>

                    <div class="col-md-9 col-sm-12 menu">
                        <ul>
                            <li class="dropdown"><a href="#">Webbkurser</a></li>
                            <li><a href="#">Vanliga frågor</a></li>
                            <li><a href="#">Donera</a></li>
                            <li><a href="#">Om sidan</a></li>
                            <li class="pull-right"><a href="#">Sök på sidan...</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<div class="headlineWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="headline">
                    <h1>Hur gör man en hemsida?</h1>
                    <h2>Vi går igenom grunderna i webbdesign</h2>
                    <p>Gratis & Reklamfritt</p>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="kurs">
                        <img src="assets/temp.jpg"/>
                        <h3>Grunderna i webbdesign</h3>
                        <p>Efter den här kursen så kommer du att kunna utveckla och publicera en fungerande hemsida.</p>
                        <p class="btn btn-secondary">Gratis</p>
                        <a href="#" class="btn btn-primary"></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


</body>
</html>