{% include head.html %}

<div class="container">

    <div class="row">

        {% if page.headerimage %}
            <div class="col-sm-12">
                <img src="{{ page.headerimage | asset_path }}" class="headerImage"/>
            </div>
        {% endif %}

        <div class="col-md-12 content text-center">
            <h1>Vi kunde inte hitta sidan</h1>
            <p>Vi gjorde vårat bästa men kunde inte hitta sidan, tyvärr!</p><br/>
            {% if page.comments and site.disqus_shortname %}
                <section id="disqus_thread"></section>
            {% endif %}
        </div>
    </div>

    {% include bidra.html %}

</div>
{% include footer.html %}