{% include head.html %}

<div class="headlineWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="headline">
                    <h1>Hur gör man en hemsida?</h1>
                    <div>
                        <h2>Vi går igenom grunderna i webbdesign</h2><p>Gratis & Reklamfritt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 chapter">
           <div class="box">
                <img src="assets/images/thumbnail_grunderna-i-webbdesign.jpg"/>
                <div class="webbdesign">
                    <h3>Grunderna i webbdesign</h3>
                    <p>Efter den här kursen så kommer du att kunna utveckla och publicera en fungerande hemsida.</p>
                    <span class="btn btn-secondary">Gratis</span>
                    <a href="#" class="btn btn-primary pull-right">Kom igång!</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 chapter">
           <div class="box">
                <img src="assets/images/thumbnail_responsiv-design.jpg"/>
                <div class="responsivDesign">
                    <h3>Responsiv design</h3>
                    <p>Hur designar man för alla plattformar? Här går vi bland annat igenom Bootstrap m.fl.</p>
                    <span class="btn btn-secondary">Gratis</span>
                    <a href="#" class="btn btn-primary pull-right">Kom igång!</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 chapter">
           <div class="box">
                <img src="assets/images/thumbnail_grafisk-design.jpg"/>
                <div class="grafiskDesign">
                    <h3>Grunderna i Grafisk design</h3>
                    <p>En bra hemsida kräver även bra design. Här visar vi grunderna i bildhantering.</p>
                    <span class="btn btn-secondary">Gratis</span>
                    <a href="#" class="btn btn-primary pull-right">Kom igång!</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 chapter">
           <div class="box">
                <img src="assets/images/thumbnail_vektorteknik.jpg"/>
                <div class="vektorteknik">
                    <h3>Grunderna i illustrator</h3>
                    <p>Hur skapar man en bild som kan skala sig till det oändliga? Här lär du dig att jobba i Illustrator.</p>
                    <span class="btn btn-secondary">Gratis</span>
                    <a href="#" class="btn btn-primary pull-right">Kom igång!</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 chapter">
           <div class="box">
                <img src="assets/images/thumbnail_less.jpg"/>
                <div class="less">
                    <h3>Grunderna i LESS</h3>
                    <p>Optimera ditt arbetsflöde när du skriver CSS. Här visar vi hur man använder sig av LESS.</p>
                    <span class="btn btn-secondary">Gratis</span>
                    <a href="#" class="btn btn-primary pull-right">Kom igång!</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 chapter">
           <div class="box">
                <img src="assets/images/thumbnail_git.jpg"/>
                <div class="git">
                    <h3>Grunderna i Git</h3>
                    <p>I den här kursen förklarar vi hur Git fungerar och hur du kan använda det i ditt arbete.</p>
                    <span class="btn btn-secondary">Gratis</span>
                    <a href="#" class="btn btn-primary pull-right">Kom igång!</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 chapter">
            <div class="box">
                <img src="assets/images/thumbnail_seo.jpg"/>
                <div class="seo">
                    <h3>Grunderna i SEO</h3>
                    <p>Hur hamnar man först i Google? I den här kursen ger vi tips på hur du kan åstadkomma det.</p>
                    <span class="btn btn-secondary">Gratis</span>
                    <a href="#" class="btn btn-primary pull-right">Kom igång!</a>
                </div>
            </div>
        </div>

    </div>

<div class="row">
   <div class="col-sm-12">

       <div class="contribute">
          <div class="box">
              <h3 class="text-center">Vill du bidra till ett öppnare och friare läromedel?</h3>
              <a class="btn btn-secondary">Donera en slant</a> eller 
              <a href="#" class="btn btn-primary">Bidra med eget material</a>
          </div>
      </div>

  </div>
</div>

</div>
{% include footer.html %}