{% include head.html %}

<div class="container">

    <div class="row">

        {% if page.headerimage %}
            <div class="col-sm-12">
                <img src="{{ page.headerimage | asset_path }}" class="headerImage"/>
            </div>
        {% endif %}

        <div class="col-md-12 content">
            <h1 class="title">{{ page.title }}</h1>
            <section id="search-results" class="single" style="display: none;">
                <div class="entries"></div>
            </section>
        </div>
    </div>

    {% include bidra.html %}

</div>
{% include footer.html %}